@using System.Text.Json
@using CarCareTracker.Helper
@model SettingsViewModel
@inject ITranslationHelper translator
@{
    var userLanguage = Model.UserConfig.UserLanguage;
    var currentSettings = JsonSerializer.Serialize(Model.UserConfig);
}

<div class="flex sm:hidden items-center justify-between mt-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">@translator.Translate(userLanguage, "Data") & @translator.Translate(userLanguage, "Configuration")</h2>
</div>
<hr class="sm:hidden border-gray-200 dark:border-gray-800 mt-4"/>

<div class="mt-4 sm:mt-8 bg-white dark:bg-gray-800 shadow-md p-4 md:p-6 space-y-12 border border-1 border-gray-300 dark:border-gray-700 rounded-lg">
    <div class="border-b border-gray-300 dark:border-white/10 pb-12">
        <h2 class="text-base/7 font-semibold">@translator.Translate(userLanguage, "Units") & @translator.Translate(userLanguage, "Calculations")</h2>
        <p class="mt-1 text-sm/6 text-gray-500 dark:text-gray-400">@translator.Translate(userLanguage, "If you deselect all imperial units, then the metric system will be used")</p>

        <div class="mt-10 space-y-10">
            <fieldset>
                <legend class="text-sm/6 font-semibold">@translator.Translate(userLanguage, "Measurement Units")</legend>
                <div class="mt-6 space-y-6">
                    <div class="flex gap-3">
                        <div class="flex h-6 shrink-0 items-center">
                            <div class="group grid size-4 grid-cols-1">
                                <input type="checkbox" onChange="updateDataAndConfigurationSettings('@currentSettings')" checked="@Model.UserConfig.UseMPG" id="useMPG" class="col-start-1 row-start-1 appearance-none rounded border transition-all duration-100 ease-out border-gray-300 bg-white dark:bg-gray-800 checked:border-blue-600 dark:checked:border-blue-600 checked:bg-blue-600 dark:checked:bg-blue-500 indeterminate:border-blue-600 dark:indeterminate:border-blue-500 indeterminate:bg-blue-600 dark:indeterminate:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 dark:focus-visible:outline-blue-500 dark:border-gray-600">
                                <heroicon kind="Micro" name="Check" class="pointer-events-none col-start-1 row-start-1 s-3.5 self-center justify-self-center" fill="none"/>
                            </div>
                        </div>
                        <div class="text-sm/6">
                            <label for="useMPG" class="font-medium">@translator.Translate(userLanguage, "Use Imperial Calculation for Fuel Economy Calculations(MPG)")</label>
                            <p class="text-gray-500 dark:text-gray-400">@translator.Translate(userLanguage, "This Will Also Change Units to Miles and Gallons")</p>
                        </div>
                    </div>
                    <div class="flex gap-3">
                        <div class="flex h-6 shrink-0 items-center">
                            <div class="group grid size-4 grid-cols-1">
                                <input type="checkbox" onChange="updateDataAndConfigurationSettings('@currentSettings')" checked="@Model.UserConfig.UseUKMPG" id="useUKMPG" class="col-start-1 row-start-1 appearance-none rounded border transition-all duration-100 ease-out border-gray-300 bg-white dark:bg-gray-800 checked:border-blue-600 dark:checked:border-blue-600 checked:bg-blue-600 dark:checked:bg-blue-500 indeterminate:border-blue-600 dark:indeterminate:border-blue-500 indeterminate:bg-blue-600 dark:indeterminate:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 dark:focus-visible:outline-blue-500 dark:border-gray-600">
                                <heroicon kind="Micro" name="Check" class="pointer-events-none col-start-1 row-start-1 s-3.5 self-center justify-self-center" fill="none"/>
                            </div>
                        </div>
                        <div class="text-sm/6">
                            <label for="useUKMPG" class="font-medium">@translator.Translate(userLanguage, "Use UK MPG Calculation")</label>
                            <p class="text-gray-500 dark:text-gray-400">@translator.Translate(userLanguage, "Input Gas Consumption in Liters, it will be converted to UK Gals for MPG Calculation")</p>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend class="text-sm/6 font-semibold">@translator.Translate(userLanguage, "Calculations")</legend>
                <div class="mt-6 space-y-6">
                    <div class="flex gap-3 items-center">
                        <div class="flex h-6 shrink-0 items-center">
                            <div class="group grid size-4 grid-cols-1">
                                <input type="checkbox" onChange="updateDataAndConfigurationSettings('@currentSettings')" checked="@Model.UserConfig.UseThreeDecimalGasCost" id="useThreeDecimal" class="col-start-1 row-start-1 appearance-none rounded border transition-all duration-100 ease-out border-gray-300 bg-white dark:bg-gray-800 checked:border-blue-600 dark:checked:border-blue-600 checked:bg-blue-600 dark:checked:bg-blue-500 indeterminate:border-blue-600 dark:indeterminate:border-blue-500 indeterminate:bg-blue-600 dark:indeterminate:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 dark:focus-visible:outline-blue-500 dark:border-gray-600">
                                <heroicon kind="Micro" name="Check" class="pointer-events-none col-start-1 row-start-1 s-3.5 self-center justify-self-center" fill="none"/>
                            </div>
                        </div>
                        <label for="useThreeDecimal" class="text-sm/6 font-medium">@translator.Translate(userLanguage, "Use Three Decimals For Fuel Cost")</label>
                    </div>
                    <div class="flex gap-3 items-center">
                        <div class="flex h-6 shrink-0 items-center">
                            <div class="group grid size-4 grid-cols-1">
                                <input type="checkbox" onChange="updateDataAndConfigurationSettings('@currentSettings')" checked="@Model.UserConfig.UseThreeDecimalGasConsumption" id="useThreeDecimalGasConsumption" class="col-start-1 row-start-1 appearance-none rounded border transition-all duration-100 ease-out border-gray-300 bg-white dark:bg-gray-800 checked:border-blue-600 dark:checked:border-blue-600 checked:bg-blue-600 dark:checked:bg-blue-500 indeterminate:border-blue-600 dark:indeterminate:border-blue-500 indeterminate:bg-blue-600 dark:indeterminate:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 dark:focus-visible:outline-blue-500 dark:border-gray-600">
                                <heroicon kind="Micro" name="Check" class="pointer-events-none col-start-1 row-start-1 s-3.5 self-center justify-self-center" fill="none"/>
                            </div>
                        </div>
                        <label for="useThreeDecimalGasConsumption" class="text-sm/6 font-medium">@translator.Translate(userLanguage, "Use Three Decimals For Fuel Consumption")</label>
                    </div>
                    <div class="flex gap-3 items-center">
                        <div class="flex h-6 shrink-0 items-center">
                            <div class="group grid size-4 grid-cols-1">
                                <input type="checkbox" onChange="updateDataAndConfigurationSettings('@currentSettings')" checked="@Model.UserConfig.UseUnitForFuelCost" id="useUnitForFuelCost" class="col-start-1 row-start-1 appearance-none rounded border transition-all duration-100 ease-out border-gray-300 bg-white dark:bg-gray-800 checked:border-blue-600 dark:checked:border-blue-600 checked:bg-blue-600 dark:checked:bg-blue-500 indeterminate:border-blue-600 dark:indeterminate:border-blue-500 indeterminate:bg-blue-600 dark:indeterminate:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 dark:focus-visible:outline-blue-500 dark:border-gray-600">
                                <heroicon kind="Micro" name="Check" class="pointer-events-none col-start-1 row-start-1 s-3.5 self-center justify-self-center" fill="none"/>
                            </div>
                        </div>
                        <label for="useUnitForFuelCost" class="text-sm/6 font-medium">@translator.Translate(userLanguage, "Default to Fuel Unit Cost")</label>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    @if (User.IsInRole(nameof(UserData.IsRootUser)))
    {
        <div class="border-b border-gray-300 dark:border-white/10 pb-12">
            <h2 class="text-base/7 font-semibold">@translator.Translate(userLanguage, "Security")</h2>
            <p class="mt-1 text-sm/6 text-gray-500 dark:text-gray-400">@translator.Translate(userLanguage, "This is where you'll find all the settings about security matters")</p>

            <div class="mt-10 space-y-10">
                <fieldset>
                    <legend class="text-sm/6 font-semibold">@translator.Translate(userLanguage, "Authentication")</legend>
                    <div class="mt-6 space-y-6">
                        <div class="flex gap-3 items-center">
                            <div class="flex h-6 shrink-0 items-center">
                                <div class="group grid size-4 grid-cols-1">
                                    <input type="checkbox" onChange="enableAuthCheckChanged()" checked="@Model.UserConfig.EnableAuth" id="enableAuth" class="col-start-1 row-start-1 appearance-none rounded border transition-all duration-100 ease-out border-gray-300 bg-white dark:bg-gray-800 checked:border-blue-600 dark:checked:border-blue-600 checked:bg-blue-600 dark:checked:bg-blue-500 indeterminate:border-blue-600 dark:indeterminate:border-blue-500 indeterminate:bg-blue-600 dark:indeterminate:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 dark:focus-visible:outline-blue-500 dark:border-gray-600">
                                    <heroicon kind="Micro" name="Check" class="pointer-events-none col-start-1 row-start-1 s-3.5 self-center justify-self-center" fill="none"/>
                                </div>
                            </div>
                            <label for="enableAuth" class="text-sm/6 font-medium">@translator.Translate(userLanguage, "Enable Authentication")</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    }
    @if (User.IsInRole(nameof(UserData.IsRootUser)))
    {
        <div class="border-b border-gray-300 dark:border-white/10 pb-12">
            <h2 class="text-base/7 font-semibold">@translator.Translate(userLanguage, "Backups")</h2>
            <p class="mt-1 text-sm/6 text-gray-500 dark:text-gray-400">@translator.Translate(userLanguage, "We advise you to create a backup at least once a month. Just in case someone breaks in or your server crashes 🙂")</p>

            <div class="mt-6 space-y-10">
                <fieldset class="flex gap-4">
                    <button type="button"
                            onclick="makeBackup()"
                            class="inline-flex min-w-32 w-auto justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 dark:focus:ring-blue-600/25"
                    >
                        @translator.Translate(userLanguage, "Create")
                    </button>
                    <div>
                        <input type="file" accept="application/zip" onChange="restoreBackup(this)" id="inputBackup" class="hidden">
                        <button type="button"
                                onclick="openRestoreBackup()"
                                class="inline-flex min-w-32 w-auto justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 dark:focus:ring-blue-600/25"
                        >
                            @translator.Translate(userLanguage, "Restore")
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>
    }
    @if (User.IsInRole(nameof(UserData.IsRootUser)))
    {
        <div class="border-b border-gray-300 dark:border-white/10 pb-12">
            <h2 class="text-base/7 font-semibold">@translator.Translate(userLanguage, "Language")</h2>
            <p class="mt-1 text-sm/6 text-gray-500 dark:text-gray-400">@translator.Translate(userLanguage, "Set the current locale, manage server locales, add new translations for a locale")</p>

            <div class="mt-6 space-y-10">
                <fieldset class="flex gap-4">
                    <div class="flex items-center transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border border-gray-300 dark:border-gray-600 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 has-[select:focus-within]:ring-4 has-[select:focus-within]:outline-none has-[select:focus-within]:ring-blue-700/25 sm:text-sm/6 dark:has-[select:focus-within]:ring-blue-600/25">
                        <select onchange="updateDataAndConfigurationSettings('@currentSettings')" id="defaultLanguage" class="block w-full rounded-l-md bg-transparent grow py-1.5 pl-3 pr-8 text-base text-gray-900 dark:text-white border-0 border-r border-gray-300 dark:border-gray-600 outline-none sm:text-sm/6">
                            @foreach (string uiLanguage in Model.UILanguages)
                            {
                                <!option value="@uiLanguage" @(Model.UserConfig.UserLanguage == uiLanguage ? "selected" : "")>@StaticHelper.GetTranslationName(uiLanguage)</!option>
                            }
                        </select>
                        <div class="grid rounded-r-md shrink-0 grid-cols-1 focus-within:relative bg-white dark:bg-gray-800">
                            <button type="button" onclick="showTranslationEditorDialog()" class="col-start-1 row-start-1 w-full appearance-none rounded-r-md py-2 px-3 text-base text-gray-500 transition-all duration-100 ease-out shadow-xs focus:outline focus:outline-1 focus:ring-4 focus:ring-offset-1 focus:ring-offset-transparent focus:ring-blue-700/25 dark:focus:ring-blue-600/25">
                                <heroicon id="actionSelectFieldButton" kind="Outline" name="Pencil" class="size-5"/>
                            </button>
                        </div>
                    </div>
                </fieldset>
                
                <fieldset>
                    <legend class="text-sm/6 font-semibold">@translator.Translate(userLanguage, "Manage Languages")</legend>
                    <div class="mt-6 flex flex-wrap gap-4">
                        <div>
                            <input type="file" accept="application/json" onChange="uploadLanguage(this)" id="inputLanguage" class="hidden">
                            <button type="button"
                                    onclick="openUploadLanguage()"
                                    class="inline-flex min-w-32 w-auto justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 dark:focus:ring-blue-600/25"
                            >
                                @translator.Translate(userLanguage, "Upload")
                            </button>
                        </div>
                        <button type="button"
                                onclick="showTranslationDownloader()"
                                class="inline-flex min-w-32 w-auto justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 dark:focus:ring-blue-600/25"
                        >
                            @translator.Translate(userLanguage, "Get Translations")
                        </button>
                        <button type="button"
                                onclick="deleteLanguage()"
                                @(Model.UserConfig.UserLanguage == "en_US" ? "disabled" : "")
                                class="inline-flex min-w-32 w-auto justify-center rounded-md transition-all duration-100 ease-out px-3 py-2 text-sm font-semibold text-white @(Model.UserConfig.UserLanguage == "en_US" ? "cursor-not-allowed bg-red-600/70" : "bg-red-600 shadow-xs hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-700/25 dark:focus:ring-red-600/25")"
                        >
                            @translator.Translate(userLanguage, "Delete")
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>
    }
    else
    {
        <div>
            <h2 class="text-base/7 font-semibold">@translator.Translate(userLanguage, "Language")</h2>
            <p class="mt-1 text-sm/6 text-gray-500 dark:text-gray-400">@translator.Translate(userLanguage, "Set the current locale")</p>

            <div class="mt-6 space-y-10">
                <fieldset class="flex gap-4">
                    <select onchange="updateDataAndConfigurationSettings('@currentSettings')" id="defaultLanguage" class="mt-2 block transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 pl-3 pr-8 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                        @foreach (string uiLanguage in Model.UILanguages)
                        {
                            <!option value="@uiLanguage" @(Model.UserConfig.UserLanguage == uiLanguage ? "selected" : "")>@StaticHelper.GetTranslationName(uiLanguage)</!option>
                        }
                    </select>
                </fieldset>
            </div>
        </div>
    }
    @if (User.IsInRole(nameof(UserData.IsRootUser)))
    {
        <div>
            <h2 class="text-base/7 font-semibold">@translator.Translate(userLanguage, "Server-wide Settings")</h2>
            <p class="mt-1 text-sm/6 text-gray-500 dark:text-gray-400">@translator.Translate(userLanguage, "You can use this wizard to set up server-wide settings. If it's your first time setting the server up, we strongly recommend you to go through it!")</p>

            <div class="mt-6 space-y-10">
                <fieldset class="flex gap-4">
                    <a href="/setup"
                       class="inline-flex min-w-32 w-auto justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 dark:focus:ring-blue-600/25"
                    >
                        @translator.Translate(userLanguage, "Configure")
                    </a>
                </fieldset>
            </div>
        </div>
    }
</div>
<script>
    function enableAuthCheckChanged() {
        var enableAuth = $("#enableAuth").is(":checked");
        if (enableAuth) {
            //swal dialog to set up username and password.
            Swal.fire({
                title: 'Setup Credentials',
                html: `
                                    <input type="text" id="authUsername" class="swal2-input" placeholder="Username">
                                    <input type="password" id="authPassword" class="swal2-input" placeholder="Password" onkeydown="handleSwalEnter(event)">
                                    `,
                confirmButtonText: 'Setup',
                focusConfirm: false,
                preConfirm: () => {
                    const username = $("#authUsername").val();
                    const password = $("#authPassword").val();
                    if (!username || !password) {
                        Swal.showValidationMessage(`Please enter username and password`)
                    }
                    return { username, password }
                },
            }).then(function (result) {
                if (result.isConfirmed) {
                    $.post('/Login/CreateLoginCreds', { userName: result.value.username, password: result.value.password }, function (data) {
                        if (data) {
                            setTimeout(function () { window.location.href = '/Login' }, 500);
                        } else {
                            errorToast(genericErrorMessage());
                        }
                    })
                }
            });
        } else {
            $.post('/Login/DestroyLoginCreds', function (data) {
                if (data) {
                    setTimeout(function () { window.location.href = '/Home' }, 1000);
                } else {
                    errorToast(genericErrorMessage());
                }
            });
        }
    }
</script>
