@using CarCareTracker.Helper
@inject IConfigHelper config
@inject ITranslationHelper translator
@model ReminderRecordViewModel
@{
    var userConfig = config.GetUserConfig(User);
    var userLanguage = userConfig.UserLanguage;
}
<!-- Dialog title -->
<div class="p-3 sm:py-2 sm:px-4 border-b border-b-1 border-gray-300 dark:border-gray-700 flex justify-between items-center">
    <h3 class="text-xl md:my-1 font-semibold text-gray-900 dark:text-white">@(translator.Translate(userLanguage, "View Reminder"))</h3>
    <!-- Quick actions -->
    <div class="flex items-center gap-3">
        @if (Model.IsRecurring && (Model.Urgency == ReminderUrgency.VeryUrgent || Model.Urgency == ReminderUrgency.PastDue))
        {
            <button onclick="markDoneCalendarReminderRecord(@Model.Id)" class="hidden sm:inline-flex w-auto justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 dark:focus:ring-blue-600/25">
                <heroicon kind="Outline" name="Check" class="size-5 mr-1.5"/>@translator.Translate(userLanguage, "Mark as Done")
            </button>
        }
        <el-dropdown class="inline-block">
            <button class="inline-flex justify-center rounded-md transition-all duration-100 ease-out bg-transparent px-1 py-1 text-sm text-gray-400 dark:text-gray-600 shadow-xs inset-ring inset-ring-gray-300 dark:inset-ring-white/5 hover:text-gray-700 dark:hover:text-gray-400 focus:ring-2 focus:ring-gray-900/5 dark:focus:ring-white/5 w-auto">
                <heroicon kind="Outline" name="EllipsisVertical" class="size-5"/>
            </button>

            <el-menu anchor="bottom end" popover class="m-0 w-56 origin-top-right rounded-md bg-white dark:bg-gray-800 p-0 shadow-lg outline outline-1 outline-black/5 dark:-outline-offset-1 dark:outline-white/10 transition [--anchor-gap:theme(spacing.2)] [transition-behavior:allow-discrete] data-[closed]:scale-95 data-[closed]:transform data-[closed]:opacity-0 data-[enter]:duration-100 data-[leave]:duration-75 data-[enter]:ease-out data-[leave]:ease-in">
                <div class="py-1">
                    @if (Model.IsRecurring && (Model.Urgency == ReminderUrgency.VeryUrgent || Model.Urgency == ReminderUrgency.PastDue))
                    {
                        <button onclick="markDoneCalendarReminderRecord(@Model.Id)" class="flex sm:hidden justify-between items-center w-full px-4 py-2 text-sm text-gray-600 dark:text-gray-300 hover:outline-none hover:bg-gray-100 hover:text-gray-900 dark:hover:bg-white/5 dark:hover:text-white">
                            @translator.Translate(userLanguage, "Mark as Done")
                        </button>
                    }
                    <button onclick="deleteCalendarReminderRecord(@Model.Id)" class="flex justify-between items-center w-full px-4 py-2 text-sm text-gray-600 dark:text-gray-300 hover:outline-none hover:bg-gray-100 hover:text-gray-900 dark:hover:bg-white/5 dark:hover:text-white">
                        @translator.Translate(userLanguage, "Delete")
                    </button>
                </div>
            </el-menu>
        </el-dropdown>

        <button onclick="hideCalendarReminderDialog()" class="inline-flex justify-center rounded-md transition-all duration-100 ease-out bg-transparent px-1 py-1 text-sm text-gray-400 dark:text-gray-600 shadow-xs inset-ring inset-ring-gray-300 dark:inset-ring-white/5 hover:text-gray-700 dark:hover:text-gray-400 focus:ring-2 focus:ring-gray-900/5 dark:focus:ring-white/5 w-auto">
            <heroicon kind="Outline" name="XMark" class="size-5"/>
        </button>
    </div>
</div>
<div class="p-3 sm:p-4">
    <form class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
            <label for="reminder-date" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Date")</label>
            <input type="date" id="reminder-date" readonly value="@Model.Date.ToString("yyyy-MM-dd")" class="mt-2 block w-full transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
            
            <label for="reminder-description" class="block mt-4 text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage,"Description")</label>
            <input type="text" id="reminder-description" readonly value="@Model.Description" class="mt-2 block w-full transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
        </div>
        <div>
            <label for="reminder-notes" class="inline-flex items-center text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage,"Notes")<markdown onclick="showLinks(this)" class="size-4 ml-2 cursor-pointer font-semibold text-blue-600 dark:text-blue-400 hover:text-blue-500 dark:hover:text-blue-300" /></label>
            <div class="relative">
                <textarea id="reminder-notes" readonly rows="5" class="mt-2 block w-full transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">@Model.Notes</textarea>
            </div>
        </div>
    </form>
</div>
