@using CarCareTracker.Helper
@inject IConfigHelper config
@inject ITranslationHelper translator
@{
    var userConfig = config.GetUserConfig(User);
    var userLanguage = userConfig.UserLanguage;
}
@model Vehicle
@{
    ViewData["Title"] = $"{Model.Year} {Model.Make} {Model.Model} ({StaticHelper.GetVehicleIdentifier(Model)})";
}
@section Scripts {
    <script src="~/js/vehicle.js?v=@StaticHelper.VersionNumber"></script>
    <script src="~/js/servicerecord.js?v=@StaticHelper.VersionNumber"></script>
    <script src="~/js/gasrecord.js?v=@StaticHelper.VersionNumber"></script>
    <script src="~/js/collisionrecord.js?v=@StaticHelper.VersionNumber"></script>
    <script src="~/js/taxrecord.js?v=@StaticHelper.VersionNumber"></script>
    <script src="~/js/reminderrecord.js?v=@StaticHelper.VersionNumber"></script>
    <script src="~/js/upgraderecord.js?v=@StaticHelper.VersionNumber"></script>
    <script src="~/js/note.js?v=@StaticHelper.VersionNumber"></script>
    <script src="~/js/reports.js?v=@StaticHelper.VersionNumber"></script>
    <script src="~/js/supplyrecord.js?v=@StaticHelper.VersionNumber"></script>
    <script src="~/js/planrecord.js?v=@StaticHelper.VersionNumber"></script>
    <script src="~/js/odometerrecord.js?v=@StaticHelper.VersionNumber"></script>
    <script src="~/lib/chart-js/chart.umd.js"></script>
    <script src="~/lib/drawdown/drawdown.js"></script>
}
@section Nav{
    <div id="vehicle-nav-title"></div>
}
@section VehicleNav{
    @await Html.PartialAsync("_Nav", Model)
}
<div class="lubelogger-mobile-nav" onclick="hideMobileNav()">
    <ul class="nav navbar-nav" id="vehicleTab" role="tablist">
        <!-- TODO -->
        <li class="nav-item" role="presentation" style="order: -1">
            <button class="nav-link" onclick="showGlobalSearch()"><span class="display-3 ms-2"><i class="bi bi-search me-2"></i>@translator.Translate(userLanguage, "Search")</span></button>
        </li>
    </ul>
</div>
<div class="container">
    @* Sets the visibility for the first rendering of the page. Then visibility will have to be handled throush js *@
    <div class="@(userConfig.DefaultTab == ImportMode.ServiceRecord ? "block" : "hidden")" id="servicerecord-tab-pane"></div>
    <div class="@(userConfig.DefaultTab == ImportMode.GasRecord ? "block" : "hidden")" id="gas-tab-pane"></div>
    <div class="@(userConfig.DefaultTab == ImportMode.TaxRecord ? "block" : "hidden")" id="tax-tab-pane"></div>
    <div class="@(userConfig.DefaultTab == ImportMode.NoteRecord ? "block" : "hidden")" id="notes-tab-pane"></div>
    <div class="@(userConfig.DefaultTab == ImportMode.RepairRecord ? "block" : "hidden")" id="accident-tab-pane"></div>
    <div class="@(userConfig.DefaultTab == ImportMode.ReminderRecord ? "block" : "hidden")" id="reminder-tab-pane"></div>
    <div class="@(userConfig.DefaultTab == ImportMode.Dashboard ? "block" : "hidden")" id="report-tab-pane"></div>
    <div class="@(userConfig.DefaultTab == ImportMode.UpgradeRecord ? "block" : "hidden")" id="upgrade-tab-pane"></div>
    <div class="@(userConfig.DefaultTab == ImportMode.SupplyRecord ? "block" : "hidden")" id="supply-tab-pane"></div>
    <div class="@(userConfig.DefaultTab == ImportMode.PlanRecord ? "block" : "hidden")" id="plan-tab-pane"></div>
    <div class="@(userConfig.DefaultTab == ImportMode.OdometerRecord ? "block" : "hidden")" id="odometer-tab-pane"></div>
</div>
<div class="modal fade" data-bs-focus="false" id="editVehicleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="editVehicleModalContent">
        </div>
    </div>
</div>
<div class="modal fade" id="bulkImportModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="bulkImportModalContent">
        </div>
    </div>
</div>
<div class="modal fade" data-bs-focus="false" id="reminderRecordModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="reminderRecordModalContent">
        </div>
    </div>
</div>
<div class="modal fade" data-bs-focus="false" id="genericRecordEditModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="genericRecordEditModalContent">
        </div>
    </div>
</div>
<div class="modal fade" data-bs-focus="false" id="inputSuppliesModal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="inputSuppliesModalContent"></div>
    </div>
</div>
<div class="modal fade" data-bs-focus="false" id="globalSearchModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="globalSearchModalContent">
            <div class="modal-body">
                <div class="input-group input-group-lg">
                    <input type="text" id="globalSearchInput" autocomplete="off" onkeyup="handleGlobalSearchKeyPress(event)" class="form-control" placeholder="@translator.Translate(userLanguage, "Search by Keyword")">
                    <button type="button" class="btn btn-outline-secondary" onclick="performGlobalSearch()"><i class="bi bi-search"></i></button>
                </div>
                <div class="form-check form-check-inline form-switch mt-1">
                    <input class="form-check-input" type="checkbox" role="switch" onchange="saveGlobalSearchSettings()" id="globalSearchAutoSearchCheck" checked>
                    <label class="form-check-label" for="globalSearchAutoSearchCheck">@translator.Translate(userLanguage, "Incremental Search")</label>
                </div>
                <div class="form-check form-check-inline form-switch mt-1">
                    <input class="form-check-input" type="checkbox" onchange="performGlobalSearch()" role="switch" id="globalSearchCaseSensitiveCheck" checked>
                    <label class="form-check-label" for="globalSearchCaseSensitiveCheck">@translator.Translate(userLanguage, "Case Sensitive")</label>
                </div>
                <div id="globalSearchModalResults"></div>
            </div>
        </div>
    </div>
</div>
<div class="stickerPrintContainer hideOnPrint">
</div>
<script>
    const vehicleTabs = [];
    vehicleTabs[@((int)ImportMode.ServiceRecord)] = { element: "servicerecord-tab-pane", title: "@translator.Translate(userLanguage, "Service Records")" };
    vehicleTabs[@((int)ImportMode.GasRecord)] = { element: "gas-tab-pane", title: "@translator.Translate(userLanguage, "Fuel")" };
    vehicleTabs[@((int)ImportMode.TaxRecord)] = { element: "tax-tab-pane", title: "@translator.Translate(userLanguage, "Taxes")" };
    vehicleTabs[@((int)ImportMode.NoteRecord)] = { element: "notes-tab-pane", title: "@translator.Translate(userLanguage, "Notes")" };
    vehicleTabs[@((int)ImportMode.RepairRecord)] = { element: "accident-tab-pane", title: "@translator.Translate(userLanguage, "Repairs")" };
    vehicleTabs[@((int)ImportMode.ReminderRecord)] = { element: "reminder-tab-pane", title: "@translator.Translate(userLanguage, "Reminders")" };
    vehicleTabs[@((int)ImportMode.Dashboard)] = { element: "report-tab-pane", title: "@translator.Translate(userLanguage, "Dashboard")" };
    vehicleTabs[@((int)ImportMode.UpgradeRecord)] = { element: "upgrade-tab-pane", title: "@translator.Translate(userLanguage, "Upgrades")" };
    vehicleTabs[@((int)ImportMode.SupplyRecord)] = { element: "supply-tab-pane", title: "@translator.Translate(userLanguage, "Supplies")" };
    vehicleTabs[@((int)ImportMode.PlanRecord)] = { element: "plan-tab-pane", title: "@translator.Translate(userLanguage, "Planner")" };
    vehicleTabs[@((int)ImportMode.OdometerRecord)] = { element: "odometer-tab-pane", title: "@translator.Translate(userLanguage, "Odometer")" };
    
    let currentTab = @((int)userConfig.DefaultTab);
    
    function GetVehicleId() {
        return { 
            vehicleId: @Model.Id, 
            odometerOptional: @Model.OdometerOptional.ToString().ToLower(),
            hasOdometerAdjustment: @Model.HasOdometerAdjustment.ToString().ToLower(),
            useEngineHours: @Model.UseHours.ToString().ToLower(),
            odometerDifference: decodeHTMLEntities('@Model.OdometerDifference'),
            odometerMultiplier: decodeHTMLEntities('@Model.OdometerMultiplier')
        };
    }
    function GetDefaultTab() {
        return { tab: "@userConfig.DefaultTab", index: @((int)userConfig.DefaultTab) };
    }
    
    function displayTab(index) {
        const newTab = vehicleTabs[index];
        const displayedTab = $(`#${vehicleTabs[currentTab].element}`)[0];
        const tabToDisplay = $(`#${newTab.element}`)[0];
        
        // Hide displayed tab first, so that if it actually is the same tab as the one to display, it doesn't get hidden.
        displayedTab.classList.add("hidden");
        displayedTab.classList.remove("block");
        tabToDisplay.classList.add("block");
        tabToDisplay.classList.remove("hidden");
        
        $("#vehicle-nav-title").html(newTab.title);
        switchTab(newTab.element);
        currentTab = index;
    }
    
    checkRecurringTaxes();
</script>