@using CarCareTracker.Helper
@inject IConfigHelper config
@inject ITranslationHelper translator
@{
    var userConfig = config.GetUserConfig(User);
    var userLanguage = userConfig.UserLanguage;
}
@model RecordExtraField

<div
    class="p-3 sm:py-2 sm:px-4 border-b border-b-1 border-gray-300 dark:border-gray-700 flex justify-between items-center"
    xmlns="http://www.w3.org/1999/html">
    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">@translator.Translate(userLanguage, "Manage Extra Fields")</h3>

    <div class="flex items-center gap-3">
        <div class="hidden sm:inline-flex items-center">
            <select onchange="refreshExtraFieldModal('subject')" id="subject" required class="block transition-all duration-100 ease-out rounded-l-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 pl-3 pr-8 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                <!option @(Model.Id == (int)ImportMode.ServiceRecord ? "selected" : "") value="@((int)ImportMode.ServiceRecord)">@translator.Translate(userLanguage, "Service Record")</!option>
                <!option @(Model.Id == (int)ImportMode.RepairRecord ? "selected" : "") value="@((int)ImportMode.RepairRecord)">@translator.Translate(userLanguage, "Repairs")</!option>
                <!option @(Model.Id == (int)ImportMode.UpgradeRecord ? "selected" : "") value="@((int)ImportMode.UpgradeRecord)">@translator.Translate(userLanguage, "Upgrades")</!option>
                <!option @(Model.Id == (int)ImportMode.GasRecord ? "selected" : "") value="@((int)ImportMode.GasRecord)">@translator.Translate(userLanguage, "Fuel")</!option>
                <!option @(Model.Id == (int)ImportMode.TaxRecord ? "selected" : "") value="@((int)ImportMode.TaxRecord)">@translator.Translate(userLanguage, "Tax")</!option>
                <!option @(Model.Id == (int)ImportMode.SupplyRecord ? "selected" : "") value="@((int)ImportMode.SupplyRecord)">@translator.Translate(userLanguage, "Supplies")</!option>
                <!option @(Model.Id == (int)ImportMode.PlanRecord ? "selected" : "") value="@((int)ImportMode.PlanRecord)">@translator.Translate(userLanguage, "Planner")</!option>
                <!option @(Model.Id == (int)ImportMode.OdometerRecord ? "selected" : "") value="@((int)ImportMode.OdometerRecord)">@translator.Translate(userLanguage, "Odometer")</!option>
                <!option @(Model.Id == (int)ImportMode.NoteRecord ? "selected" : "") value="@((int)ImportMode.NoteRecord)">@translator.Translate(userLanguage, "Notes")</!option>
                <!option @(Model.Id == (int)ImportMode.VehicleRecord ? "selected" : "") value="@((int)ImportMode.VehicleRecord)">@translator.Translate(userLanguage, "Vehicle")</!option>
            </select>
            <button command="show-modal" commandfor="extra-field-creation-wizard-dialog" class="inline-flex w-auto justify-center rounded-r-md transition-all duration-100 ease-out bg-blue-600 px-3 py-[9px] text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 dark:focus:ring-blue-600/25">
                <heroicon kind="Outline" name="Plus" class="size-5 mr-1.5"/>@translator.Translate(userLanguage, "Add")
            </button>
        </div>
        <button onclick="hideExtraFieldDialog()" class="inline-flex justify-center rounded-md transition-all duration-100 ease-out bg-transparent px-1 py-1 text-sm text-gray-400 dark:text-gray-600 shadow-xs inset-ring inset-ring-gray-300 dark:inset-ring-white/5 hover:text-gray-700 dark:hover:text-gray-400 focus:ring-2 focus:ring-gray-900/5 dark:focus:ring-white/5 w-auto">
            <heroicon kind="Outline" name="XMark" class="size-5"/>
        </button>
    </div>
</div>
<div class="p-3 sm:p-4">
    <div class="sm:hidden mb-4">
        <select onchange="refreshExtraFieldModal('sm-subject')" id="sm-subject" required class="mb-2 block w-full transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 pl-3 pr-8 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
            <!option @(Model.Id == (int)ImportMode.ServiceRecord ? "selected" : "") value="@((int)ImportMode.ServiceRecord)">@translator.Translate(userLanguage, "Service Record")</!option>
            <!option @(Model.Id == (int)ImportMode.RepairRecord ? "selected" : "") value="@((int)ImportMode.RepairRecord)">@translator.Translate(userLanguage, "Repairs")</!option>
            <!option @(Model.Id == (int)ImportMode.UpgradeRecord ? "selected" : "") value="@((int)ImportMode.UpgradeRecord)">@translator.Translate(userLanguage, "Upgrades")</!option>
            <!option @(Model.Id == (int)ImportMode.GasRecord ? "selected" : "") value="@((int)ImportMode.GasRecord)">@translator.Translate(userLanguage, "Fuel")</!option>
            <!option @(Model.Id == (int)ImportMode.TaxRecord ? "selected" : "") value="@((int)ImportMode.TaxRecord)">@translator.Translate(userLanguage, "Tax")</!option>
            <!option @(Model.Id == (int)ImportMode.SupplyRecord ? "selected" : "") value="@((int)ImportMode.SupplyRecord)">@translator.Translate(userLanguage, "Supplies")</!option>
            <!option @(Model.Id == (int)ImportMode.PlanRecord ? "selected" : "") value="@((int)ImportMode.PlanRecord)">@translator.Translate(userLanguage, "Planner")</!option>
            <!option @(Model.Id == (int)ImportMode.OdometerRecord ? "selected" : "") value="@((int)ImportMode.OdometerRecord)">@translator.Translate(userLanguage, "Odometer")</!option>
            <!option @(Model.Id == (int)ImportMode.NoteRecord ? "selected" : "") value="@((int)ImportMode.NoteRecord)">@translator.Translate(userLanguage, "Notes")</!option>
            <!option @(Model.Id == (int)ImportMode.VehicleRecord ? "selected" : "") value="@((int)ImportMode.VehicleRecord)">@translator.Translate(userLanguage, "Vehicle")</!option>
        </select>
        <button command="show-modal" commandfor="extra-field-creation-wizard-dialog" class="inline-flex w-full justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 dark:focus:ring-blue-600/25">
            <heroicon kind="Outline" name="Plus" class="size-5 mr-2"/>@translator.Translate(userLanguage, "Add New Field")
        </button>
    </div>
    
    <div id="extra-fields-grid-or-table">
        @await Html.PartialAsync("Dialogs/_ExtraFields", Model.ExtraFields)
    </div>
</div>

<el-dialog>
    <dialog id="extra-field-creation-wizard-dialog" aria-labelledby="dialog-title" class="fixed inset-0 size-auto max-h-none max-w-none overflow-y-auto bg-transparent backdrop:bg-transparent">
        <el-dialog-backdrop class="fixed inset-0 bg-gray-500/75 dark:bg-gray-900/50 transition-opacity data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in"></el-dialog-backdrop>

        <div id="extra-field-creation-wizard-dialog-content" class="flex min-h-full items-center justify-center p-4 text-center focus:outline-none sm:items-center sm:p-0">
            <el-dialog-panel class="relative transform overflow-hidden rounded-lg bg-white dark:bg-gray-800 text-left shadow-xl dark:outline dark:-outline-offset-1 dark:outline-white/10 transition-all data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in sm:my-8 sm:w-full sm:max-w-lg data-closed:sm:translate-y-0 data-closed:sm:scale-95">
                <div id="ef-name-tab">
                    <div class="bg-white dark:bg-gray-800 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <div class="sm:flex sm:items-start">
                            <div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-500/10 sm:mx-0 sm:size-10">
                                <heroicon kind="Outline" name="Tag" class="size-6 text-blue-600 dark:text-blue-400" />
                            </div>
                            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                <h3 class="text-base font-semibold text-gray-900 dark:text-white">@translator.Translate(userLanguage, "Name")</h3>
                                <div class="mt-2">
                                    <input id="ef-name" type="text" oninput="checkExtraFieldName()" placeholder="@translator.Translate(userLanguage, "Name")" class="block min-w-0 grow transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25"/>
                                    <p id="ef-name-validation-message" class="hidden font-medium text-sm text-red-400 dark:text-red-600 mt-1"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 dark:bg-gray-700/25 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                        <button id="ef-go-to-required-tab" type="button" onclick="goToRequiredTab('ef-name-tab')" disabled class="cursor-not-allowed bg-blue-600/25 inline-flex w-full justify-center rounded-md transition-all duration-100 ease-out px-3 py-2 text-sm font-semibold text-white shadow-xs focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:ml-3 sm:w-auto dark:focus:ring-blue-600/25">@translator.Translate(userLanguage, "Next")</button>
                        <button type="button" command="close" commandfor="extra-field-creation-wizard-dialog" class="mt-3 inline-flex w-full justify-center rounded-md transition-all duration-100 ease-out bg-transparent dark:bg-white/10 px-3 py-2 text-sm font-semibold text-gray-900 dark:text-white shadow-xs inset-ring inset-ring-gray-300 dark:inset-ring-white/5 hover:bg-white dark:hover:bg-white/20 focus:ring-4 focus:ring-gray-900/5 dark:focus:ring-white/5 sm:mt-0 sm:w-auto">@translator.Translate(userLanguage, "Cancel")</button>
                    </div>
                </div>
                
                <div id="ef-required-tab" class="hidden">
                    <div class="bg-white dark:bg-gray-800 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <div class="sm:flex sm:items-start">
                            <div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-500/10 sm:mx-0 sm:size-10">
                                <heroicon kind="Outline" name="Cog6Tooth" class="size-6 text-blue-600 dark:text-blue-400" />
                            </div>
                            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                <h3 class="text-base font-semibold text-gray-900 dark:text-white">@translator.Translate(userLanguage, "Should the field be required?")</h3>
                                <div class="mt-2">
                                    <div class="flex gap-3 items-center">
                                        <div class="flex h-6 shrink-0 items-center">
                                            <div class="group grid size-4 grid-cols-1">
                                                <input type="checkbox" id="ef-required" class="col-start-1 row-start-1 appearance-none rounded border transition-all duration-100 ease-out border-gray-300 bg-white dark:bg-gray-800 checked:border-blue-600 dark:checked:border-blue-600 checked:bg-blue-600 dark:checked:bg-blue-500 indeterminate:border-blue-600 dark:indeterminate:border-blue-500 indeterminate:bg-blue-600 dark:indeterminate:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 dark:focus-visible:outline-blue-500 dark:border-gray-600">
                                                <heroicon kind="Micro" name="Check" class="pointer-events-none col-start-1 row-start-1 s-3.5 self-center justify-self-center text-white" fill="none"/>
                                            </div>
                                        </div>
                                        <label class="block text-sm text-gray-900 dark:text-gray-300" for="ef-required">@translator.Translate(userLanguage, "Required")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 dark:bg-gray-700/25 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                        <button type="button" onclick="goToTypeTab('ef-required-tab')" class="inline-flex w-full justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:ml-3 sm:w-auto dark:focus:ring-blue-600/25">@translator.Translate(userLanguage, "Next")</button>
                        <button type="button" onclick="goToNameTab('ef-required-tab')" class="mt-3 inline-flex w-full justify-center rounded-md transition-all duration-100 ease-out bg-transparent dark:bg-white/10 px-3 py-2 text-sm font-semibold text-gray-900 dark:text-white shadow-xs inset-ring inset-ring-gray-300 dark:inset-ring-white/5 hover:bg-white dark:hover:bg-white/20 focus:ring-4 focus:ring-gray-900/5 dark:focus:ring-white/5 sm:mt-0 sm:w-auto">@translator.Translate(userLanguage, "Back")</button>
                    </div>
                </div>
                
                <div id="ef-type-tab" class="hidden">
                    <div class="bg-white dark:bg-gray-800 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <div class="sm:flex sm:items-start">
                            <div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-500/10 sm:mx-0 sm:size-10">
                                <heroicon kind="Outline" name="CodeBracketSquare" class="size-6 text-blue-600 dark:text-blue-400" />
                            </div>
                            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                <h3 class="text-base font-semibold text-gray-900 dark:text-white">@translator.Translate(userLanguage, "Type")</h3>
                                <div class="mt-2">
                                    <select id="ef-type" type="text" class="block min-w-0 grow transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 pl-3 pr-8 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                                        <!option selected value="@((int)ExtraFieldType.Text)">@translator.Translate(userLanguage, "Text")</!option>
                                        <!option value="@((int)ExtraFieldType.Number)">@translator.Translate(userLanguage, "Number")</!option>
                                        <!option value="@((int)ExtraFieldType.Decimal)">@translator.Translate(userLanguage, "Decimal")</!option>
                                        <!option value="@((int)ExtraFieldType.Date)">@translator.Translate(userLanguage, "Date")</!option>
                                        <!option value="@((int)ExtraFieldType.Time)">@translator.Translate(userLanguage, "Time")</!option>
                                        <!option value="@((int)ExtraFieldType.Location)">@translator.Translate(userLanguage, "Location")</!option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 dark:bg-gray-700/25 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                        <button type="button" command="close" commandfor="extra-field-creation-wizard-dialog" onclick="addExtraField()" class="inline-flex w-full justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:ml-3 sm:w-auto dark:focus:ring-blue-600/25">@translator.Translate(userLanguage, "Add")</button>
                        <button type="button" onclick="goToRequiredTab('ef-type-tab')" class="mt-3 inline-flex w-full justify-center rounded-md transition-all duration-100 ease-out bg-transparent dark:bg-white/10 px-3 py-2 text-sm font-semibold text-gray-900 dark:text-white shadow-xs inset-ring inset-ring-gray-300 dark:inset-ring-white/5 hover:bg-white dark:hover:bg-white/20 focus:ring-4 focus:ring-gray-900/5 dark:focus:ring-white/5 sm:mt-0 sm:w-auto">@translator.Translate(userLanguage, "Back")</button>
                    </div>
                </div>
            </el-dialog-panel>
        </div>
    </dialog>
</el-dialog>

<script>
    extraFields = [];
    subject = @Model.Id;
    getExtraFieldsValues();
    
    // Layout
    function displayNameValidationMessage(text) {
        let message = document.getElementById("ef-name-validation-message");
        let nextButton = document.getElementById("ef-go-to-required-tab");

        if (message !== null) {
            message.innerText = text;
            message.classList.remove("hidden");
            
            nextButton.disabled = true;
            nextButton.classList.add("cursor-not-allowed");
            nextButton.classList.add("bg-blue-600/25");
            nextButton.classList.add("hover:bg-blue-600/25");
            nextButton.classList.remove("bg-blue-600");
        }
    }
    
    function hideNameValidationMessage() {
        let message = document.getElementById("ef-name-validation-message");
        let nextButton = document.getElementById("ef-go-to-required-tab");
        
        if (message !== null) {
            message.classList.add("hidden");
            
            nextButton.disabled = false;
            nextButton.classList.add("bg-blue-600");
            nextButton.classList.add("hover:bg-blue-500");
            nextButton.classList.remove("cursor-not-allowed");
            nextButton.classList.remove("bg-blue-600/25");
        }
    }
    
    function goToNameTab(currentTabId) {
        let currentTab = document.getElementById(currentTabId);
        let tab = document.getElementById("ef-name-tab");
        tab.classList.remove("hidden");
        currentTab.classList.add("hidden");
    }

    function goToRequiredTab(currentTabId) {
        let currentTab = document.getElementById(currentTabId);
        let tab = document.getElementById("ef-required-tab");
        tab.classList.remove("hidden");
        currentTab.classList.add("hidden");
    }
    
    function goToTypeTab(currentTabId) {
        let currentTab = document.getElementById(currentTabId);
        let tab = document.getElementById("ef-type-tab");
        tab.classList.remove("hidden");
        currentTab.classList.add("hidden");
    }
    
    
    // Business
    function refreshExtraFieldModal(source) {
        const selectedExtraFieldTab = $(`#${source}`).val();
        $.post(`/Settings/GetExtraFieldsModal?importMode=${selectedExtraFieldTab}`, function (data) {
            if (data) {
                $("#extra-field-dialog").html(data);
            } else {
                errorToast(genericErrorMessage());
            }
        });
    }
    
    function updateExtraFieldIsRequired(fieldId, checkbox){
        let indexToEdit = extraFields.findIndex(x => x.name === fieldId);
        let extraFieldToEdit = extraFields[indexToEdit];
        extraFieldToEdit.isRequired = $(checkbox).is(":checked");
        updateExtraFields();
    }

    function updateExtraFieldType(fieldId, dropDown){
        let indexToEdit = extraFields.findIndex(x => x.name === fieldId);
        let extraFieldToEdit = extraFields[indexToEdit];
        extraFieldToEdit.fieldType = $(dropDown).val();
        updateExtraFields();
    }
    
    function deleteExtraField(fieldId) {
        extraFields = extraFields.filter(x => x.name !== fieldId);
        updateExtraFields();
    }
    
    function updateExtraFields() {
        $.post('/Settings/UpdateExtraFields', { id: subject, extraFields: extraFields }, function (data) {
            if (data) {
                $("#extra-field-dialog").html(data);
            } else {
                errorToast(genericErrorMessage());
            }
        });
    }
    
    function checkExtraFieldName() {
        const extraFieldName = $("#ef-name").val();
        
        if (!extraFieldName || extraFieldName.trim() === '') {
            displayNameValidationMessage("@translator.Translate(userLanguage, "Field names cannot be blank")");
        } else if (extraFields.filter(x => x.name == extraFieldName).length > 0) {
            displayNameValidationMessage("@translator.Translate(userLanguage, "Field names must be unique")");
        } else {
            hideNameValidationMessage();
        }
    }

    function addExtraField() {
        extraFields.push({ name: $("#ef-name").val(), isRequired: $("#ef-required").is(":checked"), fieldType: $("#ef-type").val() });
        updateExtraFields();
    }
    
    function getExtraFieldsValues() {
        @foreach (var extraField in Model.ExtraFields)
        {
            @:extraFields.push({
                @:name: decodeHTMLEntities('@extraField.Name'),
                @:isRequired: @extraField.IsRequired.ToString().ToLower(),
                @:fieldType: decodeHTMLEntities('@extraField.FieldType')
            @:});
        }
    }
</script>
