@using CarCareTracker.Helper
@using Heroicons.AspNetCore.Mvc.TagHelpers
@inject IConfigHelper config
@inject ITranslationHelper translator
@model List<VehicleViewModel>
@{
    var userConfig = config.GetUserConfig(User);
    var userLanguage = userConfig.UserLanguage;
    var recordTags = Model.SelectMany(x => x.Tags).Distinct();
}
<div class="px-4">
    <div class="flex items-center justify-between">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">@translator.Translate(userLanguage, "My vehicles")</h2>
        <div class="flex items-center gap-2"> @* Future-proof (will work with more than 1 element) *@
            <button onclick="showAddVehicleModal()" class="inline-flex w-auto justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 dark:focus:ring-blue-600/25">
                <heroicon kind="Outline" name="SquaresPlus" class="size-5 mr-2" />
                @translator.Translate(userLanguage, "Add a vehicle")
            </button>
        </div>
    </div>
    
    <hr class="md:hidden border-gray-200 dark:border-gray-800 mt-4" />
    
    <div id="userTable" class="py-2">
        @if (recordTags.Any())
        {
            <div class='flex-inline gap-1 mb-6'>
                @foreach (string recordTag in recordTags)
                {
                    <span onclick="filterGarage(this)" class="tagfilter inline-flex items-center rounded-full bg-gray-100 dark:bg-gray-800 px-1.5 py-0.5 text-xs font-medium m-[1px] text-gray-600 dark:text-gray-300 cursor-pointer">@recordTag</span>
                }
                <datalist id="tagList">
                    @foreach (string recordTag in recordTags)
                    {
                        <!option value="@recordTag"></!option>
                    }
                </datalist>
            </div>
        }
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 vehiclesContainer pb-2 @(recordTags.Any() ? "" : "mt-2")">
            @foreach (VehicleViewModel vehicle in Model)
            {
                @if (!(userConfig.HideSoldVehicles && !string.IsNullOrWhiteSpace(vehicle.SoldDate)))
                {
                    <div
                        id="gridVehicle_@vehicle.Id"
                        ondragover="dragOver(event)"
                        ondrop="dropBox(event, @vehicle.Id)"
                        draggable="true"
                        ondragstart="dragStart(event, @vehicle.Id)"
                        data-tags="@string.Join(" ", vehicle.Tags)"
                        class="garage-item relative bg-white dark:bg-gray-800 shadow-md border border-1 border-gray-300 dark:border-gray-700 rounded-lg cursor-pointer transition-all duration-75 ease-out hover:scale-105"
                    >
                        <div onclick="viewVehicle(@vehicle.Id)">
                            <img src="@vehicle.ImageLocation" class="h-48 w-full rounded-t-lg object-cover pointer-events-none @(string.IsNullOrWhiteSpace(vehicle.SoldDate) ? "" : "grayscale")" />
                            @if (!string.IsNullOrWhiteSpace(vehicle.SoldDate))
                            {
                                <div class="absolute top-0 rounded-t-lg bg-gray-950/60 w-full text-center"><p class="text-white text-sm font-semibold">@translator.Translate(userLanguage, "SOLD")</p></div>
                            }
                            <div class="pt-3 pb-2 px-4 md:p-4 md:pb-3">
                                <h5 class="font-semibold text-lg">@($"{vehicle.Make}") @($"{vehicle.Model}")</h5>
                                <div class="inline-flex items-center gap-2 mt-2 whitespace-nowrap max-w-full overflow-scroll">
                                    <div class="inline-flex items-center gap-1 text-gray-600 dark:text-gray-400">
                                        <heroicon kind="Micro" name="CalendarDays" class="size-4"/>
                                        <span class="text-xs">@($"{vehicle.Year}")</span>
                                    </div>
                                    @if (vehicle.DashboardMetrics.Contains(DashboardMetric.Default) && vehicle.LastReportedMileage != default)
                                    {
                                        <div class="inline-flex items-center gap-1 text-gray-600 dark:text-gray-400">
                                            <heroicon kind="Micro" name="GlobeAmericas" class="size-4"/>
                                            <span class="text-xs">@vehicle.LastReportedMileage.ToString("N0")</span>
                                        </div>
                                    }
                                    @if (vehicle.DashboardMetrics.Contains(DashboardMetric.TotalCost) && vehicle.TotalCost != default)
                                    {
                                        <div class="inline-flex items-center gap-1 text-gray-600 dark:text-gray-400">
                                            <heroicon kind="Micro" name="Banknotes" class="size-4"/>
                                            <span class="text-xs">@($"{vehicle.TotalCost.ToString("C2")}")</span>
                                        </div>
                                    }
                                    @if (vehicle.DashboardMetrics.Contains(DashboardMetric.CostPerMile) && vehicle.CostPerMile != default)
                                    {
                                        <div class="inline-flex items-center gap-1 text-gray-600 dark:text-gray-400">
                                            <heroicon kind="Micro" name="ChartBar" class="size-4"/>
                                            <span class="text-xs">@($"{vehicle.CostPerMile.ToString("C2")}/{vehicle.DistanceUnit}")</span>
                                        </div>
                                    }
                                </div>
                                <p class="text-sm font-medium truncate mt-0.5">@StaticHelper.GetVehicleIdentifier(vehicle)</p>
                                <hr class="border-gray-100 dark:border-gray-700/50 mt-4 mb-3"/>
                                <div class="inline-flex items-center gap-2 text-gray-600 dark:text-gray-400">
                                    <heroicon kind="Mini" name="@(vehicle.HasReminders ? HeroiconName.BellAlert : HeroiconName.Bell)" class="size-4"/>
                                    <span class="text-sm">@(vehicle.HasReminders ? translator.Translate(userLanguage, "Vehicle has reminders") : translator.Translate(userLanguage, "No reminders"))</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
