@using CarCareTracker.Helper
@{
    ViewData["Title"] = "Server Settings";
}
@inject IConfigHelper config
@inject ITranslationHelper translator
@{
    bool emailServerIsSetup = true;
    var mailConfig = config.GetMailConfig();
    var userLanguage = config.GetServerLanguage();
    if (mailConfig is null || string.IsNullOrWhiteSpace(mailConfig.EmailServer))
    {
        emailServerIsSetup = false;
    }
}
@section Scripts {
    <script src="~/js/serversettings.js?v=@StaticHelper.VersionNumber"></script>
}
@section Nav { @translator.Translate(userLanguage, "Server Settings Configurator") }
@model ServerSettingsViewModel

<div class="px-4 sm:py-8">
    <div class="setup-wizard-content" data-page="0">
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 sm:gap-8">
            <div>
                <h2 class="text- leading-7 font-semibold">@translator.Translate(userLanguage, "Server Settings Configurator")</h2>
            </div>
            <div class="sm:col-span-2 bg-white dark:bg-gray-800 rounded-xl border border-1 border-gray-200 dark:border-gray-700">
                <div class="mb-0 m-3 pb-3 sm:m-0 sm:p-8 dark:text-white border-b border-b-1 border-gray-100 dark:border-gray-700">
                    <div>
                        <h3 class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Disclaimer")</h3>
                        <p class="text-sm text-gray-600 dark:text-gray-300 mt-4">@translator.Translate(userLanguage, "By proceeding, you acknowledge that you are solely responsible for all consequences from utilizing the Server Settings Configurator")</p>
                    </div>
                </div>
                <div class="p-3 sm:py-3 sm:p-8 grid grid-cols-2 sm:flex gap-3 justify-end items-center">
                    <button type="button" onclick="goBackToSettings()" class="inline-flex w-full sm:w-auto justify-center rounded-md transition-all duration-100 ease-out bg-transparent dark:bg-white/10 px-3 py-2 text-sm font-semibold text-gray-900 dark:text-white shadow-xs inset-ring inset-ring-gray-300 dark:inset-ring-white/5 hover:bg-white dark:hover:bg-white/20 focus:ring-4 focus:ring-gray-900/5 dark:focus:ring-white/5">@translator.Translate(userLanguage, "Cancel")</button>
                    <button type="button" onclick="nextSetupPage()" class="inline-flex w-full sm:w-auto justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 dark:focus:ring-blue-600/25">@translator.Translate(userLanguage, "Acknowledge and Continue")</button>
                </div>
            </div>
        </div>
    </div>


    <div class="setup-wizard-content hidden" data-page="1">
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 sm:gap-8">
            <div>
                <h2 class="text- leading-7 font-semibold">@translator.Translate(userLanguage, "Server Settings")</h2>
                <div id="localeSampleContainer" class="hidden text-sm text-gray-600 dark:text-gray-300 mt-4 font-medium"></div>
            </div>
            <div class="sm:col-span-2 bg-white dark:bg-gray-800 rounded-xl border border-1 border-gray-200 dark:border-gray-700">
                <div class="mb-0 m-3 pb-3 sm:m-0 sm:p-8 dark:text-white border-b border-b-1 border-gray-100 dark:border-gray-700 flex flex-col gap-4 sm:gap-8">
                    <div>
                        <label for="inputPostgres" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Postgres Connection")</label>
                        <input type="text" id="inputPostgres" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.PostgresConnection" class="mt-2 block w-full transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                        <p class="text-xs text-gray-600 dark:text-gray-300 mt-2">@translator.Translate(userLanguage, "Restart Required")</p>
                    </div>
                    <div>
                        <label for="inputLocale" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Locale Override")</label>
                        <select id="inputLocale" onchange="reloadLocaleSample()" class="mt-2 block w-10/12 sm:w-5/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 pl-3 pr-8 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                            @foreach(string installedLocale in Model.AvailableLocales)
                            {
                                <!option value="@installedLocale" @(Model.LocaleOverride == installedLocale ? "selected" : "")>@installedLocale</!option>
                            }
                        </select>
                        <p class="text-xs text-gray-600 dark:text-gray-300 mt-2">@translator.Translate(userLanguage, "Leave blank to use system locale. Restart Required")</p>
                    </div>
                    <div id="dateTimeLocaleOverride" class="@(string.IsNullOrWhiteSpace(Model.LocaleOverride) ? "hidden" : "")">
                        <label for="inputDateTimeLocale" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Locale DateTime Override")</label>
                        <select id="inputDateTimeLocale" onchange="reloadLocaleSample()" class="mt-2 block w-10/12 sm:w-5/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 pl-3 pr-8 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                            @foreach (string installedLocale in Model.AvailableLocales)
                            {
                                <!option value="@installedLocale" @(Model.LocaleDateTimeOverride == installedLocale ? "selected" : "")>@installedLocale</!option>
                            }
                        </select>
                        <p class="text-xs text-gray-600 dark:text-gray-300 mt-2">@translator.Translate(userLanguage, "Leave blank to use default datetime format. Restart Required")</p>
                    </div>
                    <div>
                        <label for="inputFileExt" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Allowed File Extensions")</label>
                        <input type="text" id="inputFileExt" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.AllowedFileExtensions" class="mt-2 block w-full transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputLogoURL" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Logo URL")</label>
                        <input type="text" id="inputLogoURL" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.CustomLogoURL" class="mt-2 block w-full sm:w-8/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputSmallLogoURL" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Small Logo URL")</label>
                        <input type="text" id="inputSmallLogoURL" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.CustomSmallLogoURL" class="mt-2 block w-full sm:w-8/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputMOTD" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Message of the Day")</label>
                        <input type="text" id="inputMOTD" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.MessageOfTheDay" class="mt-2 block w-full transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputWebHook" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "WebHook URL")</label>
                        <input type="text" id="inputWebHook" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.WebHookURL" class="mt-2 block w-full sm:w-8/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputDomain" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Server URL")</label>
                        <input type="text" id="inputDomain" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.Domain" class="mt-2 block w-full sm:w-8/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputCustomWidget" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Custom Widgets")</label>
                        <select id="inputCustomWidget" class="mt-2 block w-8/12 sm:w-3/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 pl-3 pr-8 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                            <!option value="true" @(Model.CustomWidgetsEnabled ? "selected" : "")>@translator.Translate(userLanguage, "Enabled")</!option>
                            <!option value="false" @(Model.CustomWidgetsEnabled ? "" : "selected")>@translator.Translate(userLanguage, "Disabled")</!option>
                        </select>
                    </div>
                    <div>
                        <label for="inputInvariantAPI" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Invariant API")</label>
                        <select id="inputInvariantAPI" class="mt-2 block w-8/12 sm:w-3/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 pl-3 pr-8 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                            <!option value="true" @(Model.InvariantAPIEnabled ? "selected" : "")>@translator.Translate(userLanguage, "Enabled")</!option>
                            <!option value="false" @(Model.InvariantAPIEnabled ? "" : "selected")>@translator.Translate(userLanguage, "Disabled")</!option>
                        </select>
                    </div>
                    <div>
                        <label for="inputUnsplashAccessKey" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Unsplash access key")</label>
                        <input type="text" id="inputUnsplashAccessKey" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.UnsplashAccessKey" class="mt-2 block w-full transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                </div>
                <div class="p-3 sm:py-3 sm:p-8 grid grid-cols-2 sm:flex gap-3 justify-end items-center">
                    <button type="button" onclick="previousSetupPage()" class="inline-flex w-full sm:w-auto justify-center rounded-md transition-all duration-100 ease-out bg-transparent dark:bg-white/10 px-3 py-2 text-sm font-semibold text-gray-900 dark:text-white shadow-xs inset-ring inset-ring-gray-300 dark:inset-ring-white/5 hover:bg-white dark:hover:bg-white/20 focus:ring-4 focus:ring-gray-900/5 dark:focus:ring-white/5">@translator.Translate(userLanguage, "Back")</button>
                    <button type="button" onclick="nextSetupPage()" class="inline-flex w-full sm:w-auto justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 dark:focus:ring-blue-600/25">@translator.Translate(userLanguage, "Next")</button>
                </div>
            </div>
        </div>
    </div>


    <div class="setup-wizard-content hidden" data-page="2">
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 sm:gap-8">
            <div class="flex mb-auto justify-between">
                <h2 class="text- leading-7 font-semibold">@translator.Translate(userLanguage, "SMTP")</h2>
                <div class="flex gap-3 items-center">
                    <div class="flex h-6 shrink-0 items-center">
                        <div class="group grid size-4 grid-cols-1">
                            <input type="checkbox" id="skipSMTP" onchange="nextOnSkip(this)" class="col-start-1 row-start-1 appearance-none rounded border transition-all duration-100 ease-out border-gray-300 bg-white dark:bg-gray-800 checked:border-blue-600 dark:checked:border-blue-600 checked:bg-blue-600 dark:checked:bg-blue-500 indeterminate:border-blue-600 dark:indeterminate:border-blue-500 indeterminate:bg-blue-600 dark:indeterminate:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 dark:focus-visible:outline-blue-500 dark:border-gray-600">
                            <heroicon kind="Micro" name="Check" class="pointer-events-none col-start-1 row-start-1 s-3.5 self-center justify-self-center text-white" fill="none"/>
                        </div>
                    </div>
                    <label class="block text-sm text-gray-900 dark:text-gray-300" for="skipSMTP">@translator.Translate(userLanguage, "Skip")</label>
                </div>
            </div>
            <div class="sm:col-span-2 bg-white dark:bg-gray-800 rounded-xl border border-1 border-gray-200 dark:border-gray-700">
                <div class="mb-0 m-3 pb-3 sm:m-0 sm:p-8 dark:text-white border-b border-b-1 border-gray-100 dark:border-gray-700 flex flex-col gap-4 sm:gap-8">
                    <div>
                        <label for="inputSMTPServer" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "SMTP Server")</label>
                        <input type="text" id="inputSMTPServer" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.SMTPConfig.EmailServer" class="mt-2 block w-full sm:w-8/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputSMTPPort" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "SMTP Server Port")</label>
                        <input type="text" id="inputSMTPPort" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.SMTPConfig.Port" class="mt-2 block w-4/12 sm:w-2/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputSMTPFrom" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "SMTP Sender Address")</label>
                        <input type="text" id="inputSMTPFrom" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.SMTPConfig.EmailFrom" class="mt-2 block w-full sm:w-8/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputSMTPUsername" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "SMTP Username")</label>
                        <input type="text" id="inputSMTPUsername" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.SMTPConfig.Username" class="mt-2 block w-full sm:w-8/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputSMTPPassword" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "SMTP Password")</label>
                        <div class="mt-2 flex items-center transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border border-gray-300 dark:border-gray-600 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 has-[input:focus-within]:ring-4 has-[input:focus-within]:outline-none has-[input:focus-within]:ring-blue-700/25 sm:text-sm/6 dark:has-[input:focus-within]:ring-blue-600/25">
                            <input type="password" id="inputSMTPPassword" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.SMTPConfig.Password"  class="block min-w-0 rounded-l-md bg-transparent grow py-1.5 px-3 text-base text-gray-900 dark:text-white border-0 border-r border-gray-300 dark:border-gray-600 outline-none sm:text-sm/6">
                            <div class="grid rounded-r-md shrink-0 grid-cols-1 focus-within:relative bg-white dark:bg-gray-800">
                                <button type="button" onclick="twTogglePasswordVisibility(this)" class="col-start-1 row-start-1 w-full appearance-none rounded-r-md py-2 px-3 text-base text-gray-500 transition-all duration-100 ease-out shadow-xs focus:outline focus:outline-1 focus:ring-4 focus:ring-offset-1 focus:ring-offset-transparent focus:ring-blue-700/25 dark:focus:ring-blue-600/25">
                                    <heroicon id="userPasswordHidden" kind="Outline" name="Eye" class="size-5" />
                                    <heroicon id="userPasswordVisible" kind="Outline" name="EyeSlash" class="hidden size-5" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-3 sm:py-3 sm:p-8 grid grid-cols-2 sm:flex gap-3 justify-end items-center">
                    <button type="button" onclick="previousSetupPage()" class="inline-flex w-full sm:w-auto justify-center rounded-md transition-all duration-100 ease-out bg-transparent dark:bg-white/10 px-3 py-2 text-sm font-semibold text-gray-900 dark:text-white shadow-xs inset-ring inset-ring-gray-300 dark:inset-ring-white/5 hover:bg-white dark:hover:bg-white/20 focus:ring-4 focus:ring-gray-900/5 dark:focus:ring-white/5">@translator.Translate(userLanguage, "Back")</button>
                    <button type="button" onclick="sendTestEmail()" class="hidden sm:inline-flex w-full sm:w-auto justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 dark:focus:ring-blue-600/25">@translator.Translate(userLanguage, "Test SMTP Settings")</button>
                    <button type="button" onclick="nextSetupPage()" class="inline-flex w-full sm:w-auto justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 dark:focus:ring-blue-600/25">@translator.Translate(userLanguage, "Next")</button>
                </div>
            </div>
        </div>
    </div>


    <div class="setup-wizard-content hidden" data-page="3">
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 sm:gap-8">
            <div class="flex mb-auto justify-between">
                <h2 class="text- leading-7 font-semibold">@translator.Translate(userLanguage, "Single Sign On")</h2>
                <div class="flex gap-3 items-center">
                    <div class="flex h-6 shrink-0 items-center">
                        <div class="group grid size-4 grid-cols-1">
                            <input type="checkbox" id="skipOIDC" onchange="nextOnSkip(this)" class="col-start-1 row-start-1 appearance-none rounded border transition-all duration-100 ease-out border-gray-300 bg-white dark:bg-gray-800 checked:border-blue-600 dark:checked:border-blue-600 checked:bg-blue-600 dark:checked:bg-blue-500 indeterminate:border-blue-600 dark:indeterminate:border-blue-500 indeterminate:bg-blue-600 dark:indeterminate:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 dark:focus-visible:outline-blue-500 dark:border-gray-600">
                            <heroicon kind="Micro" name="Check" class="pointer-events-none col-start-1 row-start-1 s-3.5 self-center justify-self-center text-white" fill="none"/>
                        </div>
                    </div>
                    <label class="block text-sm text-gray-900 dark:text-gray-300" for="skipOIDC">@translator.Translate(userLanguage, "Skip")</label>
                </div>
            </div>
            <div class="sm:col-span-2 bg-white dark:bg-gray-800 rounded-xl border border-1 border-gray-200 dark:border-gray-700">
                <div class="mb-0 m-3 pb-3 sm:m-0 sm:p-8 dark:text-white border-b border-b-1 border-gray-100 dark:border-gray-700 flex flex-col gap-4 sm:gap-8">
                    <div>
                        <label for="inputOIDCProvider" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "OIDC Provider")</label>
                        <input type="text" id="inputOIDCProvider" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.OIDCConfig.Name" class="mt-2 block w-full sm:w-8/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputOIDCClient" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "OIDC Client ID")</label>
                        <input type="text" id="inputOIDCClient" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.OIDCConfig.ClientId" class="mt-2 block w-full transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputOIDCSecret" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "OIDC Client Secret")</label>
                        <div class="mt-2 flex items-center transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border border-gray-300 dark:border-gray-600 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 has-[input:focus-within]:ring-4 has-[input:focus-within]:outline-none has-[input:focus-within]:ring-blue-700/25 sm:text-sm/6 dark:has-[input:focus-within]:ring-blue-600/25">
                            <input type="password" id="inputOIDCSecret" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.OIDCConfig.ClientSecret"  class="block min-w-0 rounded-l-md bg-transparent grow py-1.5 px-3 text-base text-gray-900 dark:text-white border-0 border-r border-gray-300 dark:border-gray-600 outline-none sm:text-sm/6">
                            <div class="grid rounded-r-md shrink-0 grid-cols-1 focus-within:relative bg-white dark:bg-gray-800">
                                <button type="button" onclick="twTogglePasswordVisibility(this)" class="col-start-1 row-start-1 w-full appearance-none rounded-r-md py-2 px-3 text-base text-gray-500 transition-all duration-100 ease-out shadow-xs focus:outline focus:outline-1 focus:ring-4 focus:ring-offset-1 focus:ring-offset-transparent focus:ring-blue-700/25 dark:focus:ring-blue-600/25">
                                    <heroicon id="userPasswordHidden" kind="Outline" name="Eye" class="size-5" />
                                    <heroicon id="userPasswordVisible" kind="Outline" name="EyeSlash" class="hidden size-5" />
                                </button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label for="inputOIDCAuth" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "OIDC Auth URL")</label>
                        <input type="text" id="inputOIDCAuth" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.OIDCConfig.AuthURL" class="mt-2 block w-full sm:w-8/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputOIDCToken" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "OIDC Token URL")</label>
                        <input type="text" id="inputOIDCToken" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.OIDCConfig.TokenURL" class="mt-2 block w-full sm:w-8/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputOIDCUserInfo" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "OIDC UserInfo URL")</label>
                        <input type="text" id="inputOIDCUserInfo" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.OIDCConfig.UserInfoURL" class="mt-2 block w-full sm:w-8/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputOIDCRedirect" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "OIDC Redirect URL")</label>
                        <input type="text" id="inputOIDCRedirect" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.OIDCConfig.RedirectURL" class="mt-2 block w-full sm:w-8/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputOIDCScope" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "OIDC Scope")</label>
                        <input type="text" id="inputOIDCScope" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.OIDCConfig.Scope" class="mt-2 block w-8/12 sm:w-4/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputOIDCLogout" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "OIDC Logout URL")</label>
                        <input type="text" id="inputOIDCLogout" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.OIDCConfig.LogOutURL" class="mt-2 block w-full sm:w-8/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputOIDCState" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "OIDC Validate State")</label>
                        <select id="inputOIDCState" class="mt-2 block w-8/12 sm:w-3/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 pl-3 pr-8 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                            <!option value="true" @(Model.OIDCConfig.ValidateState ? "selected" : "")>@translator.Translate(userLanguage, "Enabled")</!option>
                            <!option value="false" @(Model.OIDCConfig.ValidateState ? "" : "selected")>@translator.Translate(userLanguage, "Disabled")</!option>
                        </select>
                    </div>
                    <div>
                        <label for="inputOIDCPKCE" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "OIDC Use PKCE")</label>
                        <select id="inputOIDCPKCE" class="mt-2 block w-8/12 sm:w-3/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 pl-3 pr-8 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                            <!option value="true" @(Model.OIDCConfig.UsePKCE ? "selected" : "")>@translator.Translate(userLanguage, "Enabled")</!option>
                            <!option value="false" @(Model.OIDCConfig.UsePKCE ? "" : "selected")>@translator.Translate(userLanguage, "Disabled")</!option>
                        </select>
                    </div>
                    <div>
                        <label for="inputOIDCDisable" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "OIDC Login Only")</label>
                        <select id="inputOIDCDisable" class="mt-2 block w-8/12 sm:w-3/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 pl-3 pr-8 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                            <!option value="true" @(Model.OIDCConfig.DisableRegularLogin ? "selected" : "")>@translator.Translate(userLanguage, "Enabled")</!option>
                            <!option value="false" @(Model.OIDCConfig.DisableRegularLogin ? "" : "selected")>@translator.Translate(userLanguage, "Disabled")</!option>
                        </select>
                    </div>
                </div>
                <div class="p-3 sm:py-3 sm:p-8 grid grid-cols-2 sm:flex gap-3 justify-end items-center">
                    <button type="button" onclick="previousSetupPage()" class="inline-flex w-full sm:w-auto justify-center rounded-md transition-all duration-100 ease-out bg-transparent dark:bg-white/10 px-3 py-2 text-sm font-semibold text-gray-900 dark:text-white shadow-xs inset-ring inset-ring-gray-300 dark:inset-ring-white/5 hover:bg-white dark:hover:bg-white/20 focus:ring-4 focus:ring-gray-900/5 dark:focus:ring-white/5">@translator.Translate(userLanguage, "Back")</button>
                    <button type="button" onclick="nextSetupPage()" class="inline-flex w-full sm:w-auto justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 dark:focus:ring-blue-600/25">@translator.Translate(userLanguage, "Next")</button>
                </div>
            </div>
        </div>
    </div>


    <div class="setup-wizard-content hidden" data-page="4">
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 sm:gap-8">
            <div>
                <h2 class="text- leading-7 font-semibold">@translator.Translate(userLanguage, "Miscellaneous")</h2>
            </div>
            <div class="sm:col-span-2 bg-white dark:bg-gray-800 rounded-xl border border-1 border-gray-200 dark:border-gray-700">
                <div class="mb-0 m-3 pb-3 sm:m-0 sm:p-8 dark:text-white border-b border-b-1 border-gray-100 dark:border-gray-700 flex flex-col gap-4 sm:gap-8">
                    @if (Model.EnableAuth)
                    {
                        <div>
                            <label for="inputRegistrationMode" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Registration")</label>
                            <select id="inputRegistrationMode" class="mt-2 block w-full sm:w-6/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 pl-3 pr-8 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                                <!option value="0" @(!Model.OpenRegistration && !Model.DisableRegistration ? "selected" : "")>@translator.Translate(userLanguage, "Invitation Only")</!option>
                                <!option value="1" @(Model.DisableRegistration ? "selected" : "")>@translator.Translate(userLanguage, "Disable Registration")</!option>
                                <!option value="2" @(Model.OpenRegistration ? "selected" : "")>@translator.Translate(userLanguage, "Open Registration")</!option>
                            </select>
                        </div>
                        <div>
                            <label for="inputOIDCRootUser" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Enable OIDC for Root User")</label>
                            <select id="inputOIDCRootUser" class="mt-2 block w-8/12 sm:w-3/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 pl-3 pr-8 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                                <!option value="true" @(Model.EnableRootUserOIDC ? "selected" : "")>@translator.Translate(userLanguage, "Enabled")</!option>
                                <!option value="false" @(Model.EnableRootUserOIDC ? "" : "selected")>@translator.Translate(userLanguage, "Disabled")</!option>
                            </select>
                        </div>
                    }
                    <div>
                        <label for="inputDefaultReminderEmail" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Root User Email Address")</label>
                        <input type="text" id="inputDefaultReminderEmail" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.DefaultReminderEmail" class="mt-2 block w-full sm:w-8/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    
                    <h3 class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Reminder Urgency Thresholds")</h3>
                    
                    <div>
                        <label for="inputUrgentDays" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Urgent(Days)")</label>
                        <input type="number" inputmode="numeric" id="inputUrgentDays" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.ReminderUrgencyConfig.UrgentDays" class="mt-2 block w-8/12 sm:w-3/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputVeryUrgentDays" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Very Urgent(Days)")</label>
                        <input type="number" inputmode="numeric" id="inputVeryUrgentDays" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.ReminderUrgencyConfig.VeryUrgentDays" class="mt-2 block w-8/12 sm:w-3/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputUrgentDistance" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Urgent(Distance)")</label>
                        <input type="number" inputmode="numeric" id="inputUrgentDistance" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.ReminderUrgencyConfig.UrgentDistance" class="mt-2 block w-8/12 sm:w-3/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                    <div>
                        <label for="inputVeryUrgentDistance" class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Very Urgent(Distance)")</label>
                        <input type="number" inputmode="numeric" id="inputVeryUrgentDistance" placeholder="@translator.Translate(userLanguage, "Not Configured")" value="@Model.ReminderUrgencyConfig.VeryUrgentDistance" class="mt-2 block w-8/12 sm:w-3/12 transition-all duration-100 ease-out rounded-md dark:bg-gray-800 border-gray-300 dark:border-gray-600 py-1.5 px-3 text-base text-gray-900 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 sm:text-sm/6 dark:focus:ring-blue-600/25">
                    </div>
                </div>
                <div class="p-3 sm:py-3 sm:p-8 grid grid-cols-2 sm:flex gap-3 justify-end items-center">
                    <button type="button" onclick="previousSetupPage()" class="inline-flex w-full sm:w-auto justify-center rounded-md transition-all duration-100 ease-out bg-transparent dark:bg-white/10 px-3 py-2 text-sm font-semibold text-gray-900 dark:text-white shadow-xs inset-ring inset-ring-gray-300 dark:inset-ring-white/5 hover:bg-white dark:hover:bg-white/20 focus:ring-4 focus:ring-gray-900/5 dark:focus:ring-white/5">@translator.Translate(userLanguage, "Back")</button>
                    <button type="button" onclick="saveSetup()" class="inline-flex w-full sm:w-auto justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 dark:focus:ring-blue-600/25">@translator.Translate(userLanguage, "Save")</button>
                </div>
            </div>
        </div>
    </div>


    <div class="setup-wizard-content hidden" data-page="5">
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 sm:gap-8">
            <div>
                <h2 class="text- leading-7 font-semibold">@translator.Translate(userLanguage, "Server Settings Configurator")</h2>
            </div>
            <div class="sm:col-span-2 bg-white dark:bg-gray-800 rounded-xl border border-1 border-gray-200 dark:border-gray-700">
                <div class="mb-0 m-3 pb-3 sm:m-0 sm:p-8 dark:text-white border-b border-b-1 border-gray-100 dark:border-gray-700 flex flex-col gap-4 sm:gap-8">
                    <div>
                        <h3 class="block text-sm font-medium text-gray-900 dark:text-gray-100">@translator.Translate(userLanguage, "Success")</h3>
                        <p class="text-sm text-gray-600 dark:text-gray-300 mt-4">@translator.Translate(userLanguage, "Server Settings Saved")</p>
                    </div>
                </div>
                <div class="p-3 sm:py-3 sm:p-8 grid grid-cols-2 sm:flex gap-3 justify-end items-center">
                    <button type="button" onclick="loadSetupPage(0)" class="inline-flex w-full sm:w-auto justify-center rounded-md transition-all duration-100 ease-out bg-transparent dark:bg-white/10 px-3 py-2 text-sm font-semibold text-gray-900 dark:text-white shadow-xs inset-ring inset-ring-gray-300 dark:inset-ring-white/5 hover:bg-white dark:hover:bg-white/20 focus:ring-4 focus:ring-gray-900/5 dark:focus:ring-white/5">@translator.Translate(userLanguage, "Restart Wizard")</button>
                    <button type="button" onclick="returnToGarage()" class="inline-flex w-full sm:w-auto justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 dark:focus:ring-blue-600/25">@translator.Translate(userLanguage, "Return to Garage")</button>
                </div>
            </div>
        </div>
    </div>
</div>
