@{
    ViewData["Title"] = "Database Migration";
}
@inject IConfigHelper config
@inject ITranslationHelper translator
@{
    var userLanguage = config.GetServerLanguage();
}
@using CarCareTracker.Helper
@section Nav { @translator.Translate(userLanguage, "Database Migration") }
@model AdminViewModel
<div class="px-4">
    <div class="flex items-center justify-between">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">@translator.Translate(userLanguage, "Instructions")</h2>
    </div>
    <hr class="sm:hidden border-gray-200 dark:border-gray-800 mt-4" />
    
    <div class="mt-4 sm:mt-8 bg-white dark:bg-gray-800 shadow-md p-4 md:p-6 space-y-4 border border-1 border-gray-300 dark:border-gray-700 rounded-lg">
        <p>@translator.Translate(userLanguage, "Use this tool to migrate data between LiteDB and Postgres")</p>
        <p>@translator.Translate(userLanguage, "Note that it is recommended that the Postgres DB is empty when importing from LiteDB to prevent primary key errors.")</p>
        
        <div class="grid gap-4 grid-cols-1 sm:grid-cols-2">
            <div>
                <input type="file" accept=".db" onChange="importPostgresData(this)" id="inputImport" class="hidden">
                <button type="button"
                        onclick="openImportToPostgres()"
                        class="inline-flex min-w-32 w-full justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 dark:focus:ring-blue-600/25"
                >
                    <heroicon kind="Outline" name="ArrowUpTray" class="size-5 mr-1.5"/>@translator.Translate(userLanguage, "Import To Postgres")
                </button>
            </div>
            <button type="button"
                    onclick="exportFromPostgres()"
                    class="inline-flex min-w-32 w-full justify-center rounded-md transition-all duration-100 ease-out bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-700/25 dark:focus:ring-blue-600/25"
            >
                <heroicon kind="Outline" name="ArrowDownTray" class="size-5 mr-1.5"/>@translator.Translate(userLanguage, "Export From Postgres")
            </button>
        </div>
    </div>
</div>

<script>
    function exportFromPostgres(){
        sloader.show();
        $.get('/Migration/Export', function (data) {
            sloader.hide();
            if (data.success) {
                window.location.href = data.message;
            } else {
                errorToast(genericErrorMessage());
            }
        });
    }
    function importPostgresData(event) {
        let formData = new FormData();
        formData.append("file", event.files[0]);
        sloader.show();
        $.ajax({
            url: "/Files/HandleFileUpload",
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function (response) {
                if (response.trim() != '') {
                    $.post('/Migration/Import', { fileName: response }, function (data) {
                        sloader.hide();
                        if (data.success) {
                            successToast(data.message);
                            setTimeout(function () { window.location.href = '/Home/Index' }, 500);
                        } else {
                            errorToast(genericErrorMessage());
                        }
                    });
                }
            },
            error: function () {
                sloader.hide();
                errorToast("An error has occurred, please check the file size and try again later.");
            }
        });
    }
    function openImportToPostgres() {
        $("#inputImport").trigger('click');
    }
</script>